/*------------------------------------------------------------------------------
Layout
------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;700&display=swap');

:root {
    --orange: #FCBB6D;
    --pink: #D8737F;
    --purple: #685D79;
    --lilac: #AB6C82;
    --blue: #475C7A;
    --reader_background: #fde9d0;

    /*
    --orange: rgb(252, 187, 109);
    --pink: rgb(216, 115, 127);
    --purple: rgb(104, 93, 121);
    --lilac: rgb(171, 108, 130);
    --blue: rgb(71, 92, 122);
    --reader_background: rgb(253, 233, 208);
    */
}

html {
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a, button {
    transition: all .1s ease-in-out;
}

section {
    padding: 2rem 0rem;
    background-color: var(--purple);
}

.title-1 {
    font-size: 3.2rem;
}

.title-2 {
    font-size: 2.8rem;
}

.section-title {
    padding: 9rem 0 4rem;
    text-align: center;
    color: var(--orange);
    font-size: 2.5rem;
    background-color: var(--blue);
}

.subtitle {
    font-size: 1.6rem;
}

.site-name {
    color: var(--orange);
}

.pagination-default {
    justify-content: center;
}

.pagination-default .page-link {
    background-color: var(--pink);
    color: var(--orange);
    border: 1px solid var(--purple);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    font-weight: 700;
}

.btn:focus {
    outline: none;
}
p {
}

.btn-pink{
    background-color: var(--pink);
    color: var(--orange)
}

.section_min-height {
    min-height : 64vh;
}


/*------------------------------------------------------------------------------
Header
------------------------------------------------------------------------------*/
.site-header .navbar-brand,
.site-header .navbar-brand:visited,
.site-header .navbar-nav .nav-link,
.site-header .navbar-nav .nav-link:visited {
    color: var(--purple);
}
.site-header .navbar-brand:hover{
    color: var(--purple);
}
.site-header{
    border-bottom:solid 2px var(--purple);
    background-color: #fff;
    box-shadow: 10px 0px 5px var(--purple);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
/*------------------------------------------------------------------------------
Hero
------------------------------------------------------------------------------*/

.site-hero h1 {
    margin-bottom: 20px;
    font-size: 3rem;
}

.site-hero h2{
    font-size: 1.6rem;
}

.site-hero{
    background:linear-gradient(#483e57de, rgba(57, 48, 133, 0.76)), url(../images/home-banner.jpg)no-repeat center;
    background-size: cover;
    padding: 180px 0px;
    text-align: center;
    background-color: var(--blue);
    color: var(--pink)
}

.site-hero h1 span {
    color: var(--orange)
}

/*------------------------------------------------------------------------------
Post List
------------------------------------------------------------------------------*/

.post-item {
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 15px;
    background-color: #fde9d0;
    color: var(--purple)
}

.post-item-content h3 {
    margin-bottom: 30px;
    color: var(--purple);
    font-size: 2rem;
}

.post-item.item-highlight h3 {
    padding: 20px;
    text-align: center;
    font-size: 2.5rem;
}

.post-item-meta {
	display: flex;
    justify-content:space-around;
    align-items: baseline;
    color: var(--pink);
}

/*------------------------------------------------------------------------------
Footer
------------------------------------------------------------------------------*/

.site-footer, .sociais-item {
    display: flex;
    justify-content: space-between;
}

.sociais-item {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sociais-item i {
    font-size: 1.8rem;
}

.sociais-item li {
    margin-left: 10px;
}

.sociais-item a,
.sociais-item a:visited {
    color: var(--orange);
    transition: 0.3s ease;
}

.sociais-item a:hover {
    color: var(--pink);
}

.site-footer p {
    margin: 0;
    font-size: 1rem;
}

.site-footer {
    padding: 0.5rem;
    background-color: var(--blue);
    color: var(--orange);
}

/*------------------------------------------------------------------------------
Post Page
------------------------------------------------------------------------------*/

.post-page .post-item-meta {
    justify-content:space-between;
    font-size: 0.9rem;

}

.post-page .post-item-meta .post-author,
.post-page .post-item-meta .post-date {
    font-size: 0.9rem;
    margin: 0;
}

/*------------------------------------------------------------------------------
Sidebar
------------------------------------------------------------------------------*/

.sidebar-default {
    padding: 15px 10px;
    border-radius: 3px;
    background-color: var(--blue);
    box-shadow: var(--lilac) 5px 5px 0px 0px;

}

.sidebar-default h2 {
    text-align: center;
    color: var(--pink);
}

.sidebar-default .posts-links {
    padding: 0;
    margin: 0;
    list-style: none;
    color: var(--pink)
}

.sidebar-default .posts-links Li {
    margin: 0px 0px 10px;
}

.sidebar-default .posts-links li a {
    color: var(--pink);
    text-decoration: underline;
}


/*------------------------------------------------------------------------------
Sign In
------------------------------------------------------------------------------*/

.tip-signin {
    border-radius: 8px;
    padding: 10px;
    background-color: var(--blue);
    color: var(--orange);
    width: 320px;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);

}

.tip-signin h3 {
    text-align: center;
    color: var(--orange);
}

.btn-orange {
    background-color: var(--orange);

 }

 .tip-signin .form-control {
    background-color: transparent;
    border: solid 1px transparent;
    border-bottom: solid 1px var(--orange) ;
    border-radius: 0;
 }

.tip-signin input:focus{
    outline: none;
    box-shadow: none;
    border: solid 1px var(--orange)
}

.tip-signin .btn {
    width: 100%;

}

.section_min {
    position:relative;
    height: 100vh;
}

.sign-in-page .site-footer {
    position: fixed;
    z-index:99;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
